* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Alegreya;
  src: url("/Fonts/Alegreya-VariableFont_wght.ttf");
}



body {
  font-size: 16px;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size:smaller;
  color: #222222;
}

a {
  color: #222222;
}

h1, h2, h3, h4 {
  font-family: 'Montaga', Georgia, serif;
  color:#222222;
}

header .content {
  margin: auto;
  text-align: center;
  color: #eeeeee;
}

header h1 {
  font-size: 6vmax;
  margin-bottom:1rem;
}

header h2 {
  font-size: 3vmax;
}

main {
  margin: 0 auto;
  padding: 0 1rem;
}

/* books */
.flowers{
  margin-bottom:2rem;
}

.flowers .col {
  margin-bottom: 1rem;
}


.flower {
  width: 100%;
  height: 100%;
  min-width: 160px;
  display: flex;
  flex-direction: column;

}

.flower .image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: 1s;

}

.flower .image img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  transition: 1s;
  border: solid 2px;
}

.flower:hover .image img {
  transform: scale(1.2);
}

.flower:hover .tooltiptext{
  display:block;
  position:absolute;
  margin-top:-1.5rem;
 
}

.gallery{
  display:flex;
  flex-wrap:wrap;
  overflow:hidden;
}

.tooltiptext{
  display:none;
  width:120px;
  background-color:black;
  border: solid 2px black;
  border-radius:10px;
  color:white;
  text-align:center;
  position:fixed;
  z-index:1;
}
